{% extends 'base.html.twig' %}

{% block title %}Agence immobilière MANYS{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence immobilière MANYS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis ipsam iusto minus neque obcaecati quas quis sit veritatis? Distinctio.</p>
    </div>
    <div class="container">
        <h2>Nos derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}