{% extends 'base.html.twig' %}

{% block title 'Gestion des biens' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Gérer les biens</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row mt-4">
            {% for property in properties %}
                <div class="col-md-4">
                    {% include 'admin/property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Ajouter un nouveau bien</a>
        </div>
    </div>
{% endblock
