{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer la sélection</h1>
        {{ include ('admin/selection/_form.html.twig', {button: 'Editer'}) }}
    </div>
{% endblock %}